<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adresses</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
    <div>
        <a href="adresses">Adresses</a>
        <a href="adresse">Formulaire</a>
        <a href="h2-console">Console H2</a>
    </div>
    <h1>Les differentes adresses</h1>
    <ul th:each="Address:${allAdresses}">
        <li th:text="${Address.content}"/>
        <li th:text="'Auteur : '+${Address.auteur}"/>
    </ul>
</body>
</html>